<nav class="navbar bg-body-tertiary">
  <div class="container-fluid col-sm-12">
    <a class="navbar-brand col-sm-2" href="#">
      <img style="width: 100px; height: 100px;" src="../../../assets/logo.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
      SKY-IFSP
    </a>
    <form class="d-flex col-sm-9" role="search">
      <div class="col-sm-3">
        <label for="">Origem :</label>
        <select class="form-select" [(ngModel)]="origemSelecionada" name="form-select">
          <option *ngFor="let cidade of cidades" [value]="cidade.valor">{{cidade.chave}}</option>
        </select>
      </div>
      <div class="col-sm-3">
        <label for="">Destino :</label>
        <select class="form-select" [(ngModel)]="destinoSelecionada" name="form-select-2">
          <option *ngFor="let cidade of cidades" [value]="cidade.valor">{{cidade?.chave}}</option>
        </select>
      </div>
      <div class="col-sm-3">
        <label for="">Quantos Passageiros?</label>
        <select [(ngModel)]="qtdPessoas" class="form-select" aria-label="Origem" name="form-select-3">
          <option [value]="1">1</option>
          <option [value]="2">2</option>
          <option [value]="3">3</option>
          <option [value]="4">4</option>
          <option [value]="5">5</option>
        </select>
      </div>
      <div class="col-sm-1 btn">
        <button type="button" class="btn btn-success" (click)="buscar()">Buscar</button>
      </div>
    </form>
    <div *ngIf="errorMsg" class="col-sm-12"><p style="color: red; text-align: center;">Revise os valores selecionados!</p></div>
  </div>
</nav>
<div [ngClass]="{boxConteudoMod1: voos.length > 0, boxConteudoMod2: voos.length == 0}">
  <table *ngIf="voos.length > 0; else img " class="table table-dark table-striped">
    <thead>
      <tr>
        <th scope="col">Preço</th>
        <th scope="col">Horário</th>
        <th scope="col">Origem</th>
        <th scope="col">Destino</th>
        <th scope="col">     </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of voos">
        <td>{{ item.preco }}</td>
        <td>{{ item.horario }}</td>
        <td>{{ item.origem }}</td>
        <td>{{ item.destino }}</td>
        <td><button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="seleciona(item)">Selecionar</button></td>
      </tr>
    </tbody>
  </table>
</div>
<div  class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Voo selecionado</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="display: flex;flex-direction: column;">
      <p> {{ 'Partindo de: '+itemSelecionado.origem+' às '+itemSelecionado.horario}}</p>
      <p> {{ 'Destino: '+itemSelecionado.destino}}</p>
      <p> {{ 'Passageiros: '+qtdPessoas}}</p>
      <p> {{ 'Valor total: '+ itemSelecionado.valorTotal}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        <button type="button" class="btn select btn-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Desabilitado para próxima sprint" >Prosseguir </button>
      </div>
    </div>
  </div>
</div>
<ng-template #img>
  <img style="width: 100%;" src="../../../assets/aeroporto-capa2019-12.jpg" >
</ng-template>
