::ng-deep{
  .navbar{
    padding: 2% !important;
    background-color: white !important;
    a{
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 800;
    }
    form{
      align-items: center;
      justify-content: space-between;
      label{
        font-weight: 800;
      }
      .btn{
        padding-top: 2.5%;
        margin-left: -5%;
      }
    }
  }
  .boxConteudoMod1{
    padding: 4% 2%;
    background-color: rgb(41, 40, 40);
  }
  .boxConteudoMod2{
    background-color: rgb(41, 40, 40);
  }
  .select{
    cursor: not-allowed !important;
  }

  footer{
    position: absolute !important;
    bottom: 0 !important;
    width: 100% !important;
  }
}
